{% extends "base.html" %}

{% block title %}
    Completed Tasks
{% endblock %}

{% block main %}
    <div>
        <h1>
            Completed
        </h1>
    </div>
    <br>
    {% if data != 0 %}
        <div>
            <table class="table table-success table-hover">
                <thead>
                    <tr>
                        <th scope="col">Task</th>
                        <th scope="col">Administrator</th>
                        <th scope="col">Collaborators</th>
                        <th scope="col">Deadline</th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    {% for row in data %}
                        <tr>
                            <td>{{ row.task }}</td>
                            <td>{{ row.creator }}</td>
                            <td>
                                {% if row.collaborators != 0 %}
                                    {% for person in row.collaborators %}
                                        {{ person }}
                                        <br>
                                    {% endfor %}
                                {% else %}
                                    N/A
                                {% endif %}
                            </td>
                            <td>{{ row.deadline }}</td>
                            <td>
                                <form action="{{ url_for('view', task_id=row.id) }}" method="get">
                                    <button type="submit" class="btn btn-info">View Details</button>
                                </form>
                            </td>
                            <td>
                                <form action="{{ url_for('update_undo', completed_id=row.id) }}" method="post">
                                    <button type="submit" class="btn btn-warning">Set As Uncomplete</button>
                                </form>
                            </td>
                            <td>
                                <form action="{{ url_for('delete_task', task_id=row.id) }}" method="get">
                                    <button type="submit" class="btn btn-danger">X</button>
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% else %}
        <div>
            None
        </div>
    {% endif %}
{% endblock %}